<% if logged_in? %>
  <script type="text/javascript">
  window.currentUser = <%= render(
    "api/users/user.json.jbuilder",
    user: current_user
  ).html_safe %>
  </script>
  <% end %>

<script type="text/javascript">
  window.img = "<%= image_url('phone-img.png') %>"
</script>

<script type="text/javascript">
  window.instaLogo = "<%= image_url('insta-logo.png') %>"
</script>

<script type="text/javascript">
  window.newPostLogo = "<%= image_url('add-icon.png') %>"
</script>

<script type="text/javascript">
  window.profileLogo = "<%= image_url('profile-icon.png') %>"
</script>

<script type="text/javascript">
  window.heartLike = "<%= image_url('heart-like.png') %>"
</script>

<script type="text/javascript">
  window.settingIcon = "<%= image_url('setting-icon.png') %>"
</script>

<script type="text/javascript">
  window.defaultProPic = "<%= image_url('profile-pic.png') %>"
</script>

<main id="root"></main>
